
@import './common/_tools.scss';

.text-red{
  color: red;
}


  .swiper-fixed{
    position: fixed;
    width: 100%;
    height: 100%;
    .new-incomne{

    }
    .top-tips{
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        background: url('../../assets/img/share/one@2x.png') center right no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0.15rem 0.5rem 0.1rem;
        box-sizing: border-box;
    }
    .swiper-container {
        width: 100%;
        height: 5rem;
        margin-left: auto;
        margin-right: auto;
        .swiper-button-next{
          @include back-img('../../assets/img/icon/shaishourur');
          background-size: 100%;
          width: 0.43rem;
          height: 0.8rem;
          right: 0.26rem;
          top: 5rem;
          position: absolute;
          background-position: center;
          background-repeat: no-repeat;
        }
        .swiper-button-prev{
          @include back-img('../../assets/img/icon/shaishourul');
          background-size: 100%;
          width: 0.43rem;
          height: 0.8rem;
          left: 0.26rem;
          top: 5rem;
          position: absolute;
          background-position: center;
          background-repeat: no-repeat;
        }
        .swiper-button-blackn{
          top: 7rem;
        }
    }
    .swiper-slide {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
        div{
          text-align: center;
          width: 10rem;
          height: 11rem;
          .swiper-slide-img{
            width: 7.95rem;
            height: 10.58rem;
            box-shadow:  0px 0px 12px 0px #888888;
          }
          .swiper-slide-imgn{
            width: 7.68rem;
            height: 10.23rem;
            box-shadow:  0px 0px 12px 0px #fff;
          }
          .swiper-slide-content{
            position: absolute;
            .content-avatar{
              width: 1.07rem;
              height: 1.07rem; 
              opacity:1;
              border-radius: 0.7rem;
              position: absolute;
              left: 4.4rem;
              top: 0.5rem;
            }
            .slide-content-num{
              top: 2.3rem;
              left: 1.55rem;
              width: 7rem;
              height: 8rem;
              font-size: 24px;
              font-weight: 600;
              position: absolute;
            }
            .slide-content-ewm{
              width: 2.8rem;
              height: 2.8rem;
              top: 6.08rem;
              border-radius: 0.05rem;
              left: 3.6rem;
              position: absolute;
              img{
                width: 2.8rem;
                height: 2.8rem;
              }
              .content-avatar{
                width: 0.8rem;
                height: 0.8rem; 
                border-radius: 0.5rem;
                position: absolute;
                left: 1rem;
                top: 1rem;
              }
            }
            .slide-content-txt{
              top: 9.1rem;
              left: 1.5rem;
              margin: 0 auto;
              position: absolute;
              width: 7rem;
              font-size: 12px;
            }
          }
        }
    }
    .gallery-top {
        height: 11.2rem;
        width: 100%;
    }
    .gallery-topNew {
        height: 10.67rem;
        width: 100%;
    }

    .gallery{
      width: 10rem;
      overflow: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
    }
    .gallery-thumbs {
        height: 1.7rem;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        overflow-x: auto;
        .swiper-slide {
            width: 2.67rem;
            height: 1.67rem;
            div{
              width: 2.67rem;
              height: 1.67rem;
            }
        }
        .swiper-slide-active {
          .swiper-slide-icon{
            width: 2.67rem;
            height: 100%;
            background-color: rgba(34, 34, 34, 0.31);
            div{
              width: 2.67rem;
              height: 1.67rem;
              @include back-img('../../assets/img/icon/shaishouruxz');
              background-position: center;
              background-size: 22%;
              height: 100%;
              background-repeat: no-repeat;
            }
          }
        }
    }

    .box-bottom{
      height: 4.5rem;
      margin: 0.29rem 0.65rem 0;
      #slide-content-qrimg{
        display: none;
      }
      .box-bottom-btn{
        background-color: #f44b50;
        text-align: center;
        color: #fff;
        padding: 0.26rem 0;
        border-radius: 1rem;
        font-size: 0.454rem;
        margin: 0.25rem 0;
      }
      .box-bottom-txt{
        text-align: center;
        color: #666666;
        font-size: 0.34rem;
        line-height: 0.5rem;
      }
    }
    .box-new{
      height: 1.44rem;
      margin: 0.16rem 0.5rem;
      padding: 0.16rem 0.5rem;
      position: absolute;
      width: 10rem;
      left: 0;
      bottom: 0;
      background: #fff;
      box-sizing: border-box;
      margin: 0;
      .box-bottom-btn{
        margin: 0;
        background: url('../../assets/img/share/next@2x.png') center right no-repeat;
        background-size: contain;
        background-position: center;
        height: 1.07rem;
      }
    }

    .box-dialog{
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 100;
      .dialog-a{
        display: inline-flex;
        text-align: center;
        width: 10rem;
        height: 3.87rem;
        background: url('../../assets/img/share/two@2x.png') center right no-repeat;
        background-size: 90%;
        background-position: left;
        margin: 0 0.5rem;
        box-sizing: border-box;
        // .dialog-ab{
        //   color: #f44b50;
        //   border-radius: 0.5rem;
        //   width: 0.9rem;
        //   height: 0.5rem;
        //   line-height: 0.5rem;
        //   border: 1px solid #f44b50;
        //   margin-right: 0.1rem;
        //   box-sizing: border-box;
        //   font-size: 0.36rem;
        //   text-align: center;
        // }
        // .dialog-ab{
        //   color: #f44b50;
        //   span{
        //     color: #f44b50;
        //   }
        //   .dialog-aba{
        //     color: #999;
        //   }
        // }
      }
      
      .dialog-b{
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        font-size: 0.48rem;
        color: #333333;
        font-weight: 600;
      }
      .dialog-c{
        height: 2rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        color:#999;
        font-size: 0.38rem;
        text-align: left;
        margin: 0 0.67rem;
        div{
          line-height: 0.65rem;
          span{
            color: #f44b50;
            font-weight: 600;
          }
        }
      }
      .dialog-f{
        height: 2.67rem;
        margin: 0.3rem 0.67rem;
        background: url('../../assets/img/share/liu@2x.png') center right no-repeat;
        background-size: 100%;
        background-position: center;
        box-sizing: border-box;
      }
      .dialog-d{
          background: url('../../assets/img/share/btip@2x.png') center right no-repeat;
          background-size: contain;
          margin: 0 auto;
          width: 8.5rem;
          height: 4rem;
          .list-title{
            text-align: center;
            padding: 0.42rem 0.25rem 0.15rem;
            margin: 0 auto;
            color: #333333;
            font-size: 0.45rem;
          }
          .list-li-are{
            width: 8.4rem;
            height: 2.6rem;
            color: #333333;
            line-height: 0.65rem;
            padding: 0 0.1rem 0 0.4rem;
            font-size: 0.4rem;
            border-radius: 0.2rem;
            span{
              color: #f44b50;
              font-weight: 600;
            }
          }
      }
      .dialog-e{
        position: absolute;
        width: 9rem;
        left: 0;
        bottom: 0;
        margin: 0.21rem 0.5rem;
        box-sizing: border-box;
        background: url('../../assets/img/share/sharebtn@2x.png') center right no-repeat;
        background-size: contain;
        background-position: center;
        height: 1.07rem;
      }
    }
  }