@keyframes wobble{
  0%{
    transform:none;
  }
  15%{
    transform:translate3d(-3%,0,0) rotate(-3deg);
  }
  30%{
    transform:translate3d(3%,0,0) rotate(3deg);
  }
  45%{
    transform:translate3d(-2%,0,0) rotate(-2deg);
  }
  60%{
    transform:translate3d(2%,0,0) rotate(2deg);
  }
  75%{
    transform:translate3d(-1%,0,0) rotate(-1deg);
  }
  to{
    transform:none;
  }
}
.wobble{
  animation-name:wobble;
}

@keyframes rubberBand{
  0%{
    transform:scaleY(1);
  }
  30%{
    transform:scaleY(1.1);
  }
  40%{
    transform:scaleY(.9);
  }
  50%{
    transform:scaleY(1.1);
  }
  65%{
    transform:scaleY(.9);
  }
  75%{
    transform:scaleY(1.05);
  }
  90%{
    transform:scaleY(.95);
  }
  to{
    transform:scaleY(1);
  }
}
.rubberBand{
  animation-name:rubberBand;
}