.icon-30{
  height: .29rem;
  width: .29rem;
  display: inline-block;
  background-size: cover;
  vertical-align: top;
}
.icon-20{
  height: .2rem;
  width: .2rem;
  display: inline-block;
  background-size: cover;
  vertical-align: top;
}
.icon-46{
  height: .46rem;
  width: .46rem;
  display: inline-block;
  background-size: cover;
  vertical-align: top;
}