$red: #f44b50;
$font-yellow: #b86d0b;
$back-yellow: #ffe6ba;
$light-back: #e7e7e7;
$light-font: #999999;
$base-font: #222222;
$topbg-color: #fff;
$border-color: #f1f1f1;
$light-font2: #666666;
$blue: #55aaec;
$gold: #fff600;
$yellow-btn: #ff8f3d;
$green: #4fa271;
$light-back2: #f4f4f4;
$light-font2: #777777;